# HOW TO USE:
# 1/  parameter: value will be used for all tasks
#
# 2/  parameter:
#       task: value will be used for a specific task only

data:
  discrete: ./datasets/DiscreteSpectrumExample

sequence_length:
  discrete: 51

batch_size:
  discrete: 8

hidden_layers:
  discrete: 2

hidden_dim:
  discrete: 128

hidden_layers_aux:
  discrete: 1

hidden_dim_aux:
  discrete: 64

latent_dim:
  discrete: 3

losses:
  discrete:
    reconstruction: true
    koopman: false

epochs: 4
output_path: ./runs/v0
